*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: serif;
}
.container{
    width: 600px;
    height: 730px;
    background-color: rgb(202, 241, 152);    
    margin: 0 auto;
    border: 1px dashed red;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.container img{
    display: block;
    width: 75%;
    /* background-color: blue; */
    margin: 0 auto;
    padding: 50px;
}
.container p{
    /* background-color: #04AA6D; */
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
.button {
    background-color: #04AA6D; /* Green */
    border-radius: 50%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;    
  }
  
  .button1:hover {
    background-color: #008CBA;
    color: white;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
.button1{
    margin-bottom: 5%;
    margin-left: 34%;
}
.controll{
    /* background-color: blueviolet;  */
    /* padding-top: 30px; */
}